.footer {
  background-color: #333;
  padding: 40px 0 40px 0;
  font-size: 11pt;
  font-weight: 300;
  color: $gray-lighter;

  @media print {
    display: none !important;
  }

  a {
    color: #fff;
    &:hover {
      color: $gray-lighter;
    }
  }
  
  @media (max-width: $screen-sm-max) {
    .foot_logo,
    .foot_companyDetails {
      text-align: center;
    }
    .foot_companyDetails {
      margin-bottom: 30px;
    }
  }

  .foot_logo {
    @extend %companyName;
    padding-top: 5px;
    font-size: 24pt;

    .icon {
      font-size: 120%;
      position: relative;
      top: 0.2em;
    }
  }
  .foot_header {
    border-bottom: 1px solid #666;
    color: $gray;
    padding: 10px 0 3px 0;
    font-weight: 400;
  }
  .foot_supportIcon {
    float: left;
    font-size: 30pt;
    margin-right: 10px;
  }
  .foot_companyDetails {
    font-size: 8pt;
    padding: 5px 0 0 50px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
      div {
        display: inline;
        padding-left: 0;
      }
    }
  }
  ul.foot_iconList {
    list-style: none;
    padding: 0;

    li {
      padding: 2px 0;
    }
  }
  .foot_socialIcon {
    margin-right: 10px;
    font-size: 150%;
    position: relative;
    top: 0.2em;
  }
  .foot_helperLinks {
    margin-top: 20px;
    font-size: 90%;
  }

  form {
    .help-block {
      font-weight: 500;
    }
    .has-error .help-block {
      color: $brand-danger;
    }
    .has-success .help-block {
      color: $brand-success;
    }
  }
}


ul.inline {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
  li + li {
    &::before {
      content: '| ';
      padding: 0 0.4em;
    }
  }
}