// When updating this file, remember to change url to font-url and remove
// the font directory. This will ensure the font file is correctly versioned
// when built by Grunt.

@font-face {
	font-family: 'icomoon';
	src:
		font-url('#{$theme-font-path}icomoon.eot?-nslsii');
	src:
		font-url('#{$theme-font-path}icomoon.eot?#iefix-nslsii') format('embedded-opentype'),
		font-url('#{$theme-font-path}icomoon.woff2?-nslsii') format('woff2'),
		font-url('#{$theme-font-path}icomoon.ttf?-nslsii') format('truetype'),
		font-url('#{$theme-font-path}icomoon.woff?-nslsii') format('woff'),
		font-url('#{$theme-font-path}icomoon.svg?-nslsii#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hex-print-outline:before {
	content: "\e665";
}
.icon-hex-print-solid .path1:before {
	content: "\e666";
	color: rgb(0, 0, 0);
}
.icon-hex-print-solid .path2:before {
	content: "\e667";
	margin-left: -0.8564453125em;
	color: rgb(255, 255, 255);
}
.icon-hex-question-outline:before {
	content: "\e662";
}
.icon-hex-question-solid:before {
	content: "\e663";
}
.icon-dots:before {
	content: "\e600";
}
.icon-hex-00-outline:before {
	content: "\e601";
}
.icon-hex-00-solid:before {
	content: "\e602";
}
.icon-hex-01-outline:before {
	content: "\e603";
}
.icon-hex-01-solid:before {
	content: "\e604";
}
.icon-hex-02-outline:before {
	content: "\e605";
}
.icon-hex-02-solid:before {
	content: "\e606";
}
.icon-hex-03-outline:before {
	content: "\e607";
}
.icon-hex-03-solid:before {
	content: "\e608";
}
.icon-hex-04-outline:before {
	content: "\e609";
}
.icon-hex-04-solid:before {
	content: "\e60a";
}
.icon-hex-05-outline:before {
	content: "\e60b";
}
.icon-hex-05-solid:before {
	content: "\e60c";
}
.icon-hex-06-outline:before {
	content: "\e60d";
}
.icon-hex-06-solid:before {
	content: "\e60e";
}
.icon-hex-07-outline:before {
	content: "\e60f";
}
.icon-hex-07-solid:before {
	content: "\e610";
}
.icon-hex-08-outline:before {
	content: "\e611";
}
.icon-hex-08-solid:before {
	content: "\e612";
}
.icon-hex-09-outline:before {
	content: "\e613";
}
.icon-hex-09-solid:before {
	content: "\e614";
}
.icon-hex-123-outline:before {
	content: "\e615";
}
.icon-hex-123-solid:before {
	content: "\e616";
}
.icon-hex-about-outline:before {
	content: "\e617";
}
.icon-hex-about-solid:before {
	content: "\e618";
}
.icon-hex-clinician-outline:before {
	content: "\e619";
}
.icon-hex-clinician-solid:before {
	content: "\e61a";
}
.icon-hex-clock-outline:before {
	content: "\e61b";
}
.icon-hex-clock-solid:before {
	content: "\e61c";
}
.icon-hex-close-outline:before {
	content: "\e61d";
}
.icon-hex-close-solid:before {
	content: "\e61e";
}
.icon-hex-computer-outline:before {
	content: "\e61f";
}
.icon-hex-computer-solid:before {
	content: "\e620";
}
.icon-hex-conversation-outline:before {
	content: "\e621";
}
.icon-hex-conversation-solid:before {
	content: "\e622";
}
.icon-hex-dataKey-outline:before {
	content: "\e623";
}
.icon-hex-dataKey-solid:before {
	content: "\e624";
}
.icon-hex-dataLock-outline:before {
	content: "\e625";
}
.icon-hex-dataLock-solid:before {
	content: "\e626";
}
.icon-hex-faq-outline:before {
	content: "\e627";
}
.icon-hex-faq-solid:before {
	content: "\e628";
}
.icon-hex-home-outline:before {
	content: "\e629";
}
.icon-hex-home-solid:before {
	content: "\e62a";
}
.icon-hex-learn-outline:before {
	content: "\e62b";
}
.icon-hex-learn-solid:before {
	content: "\e62c";
}
.icon-hex-menu-outline:before {
	content: "\e62d";
}
.icon-hex-menu-solid:before {
	content: "\e62e";
}
.icon-hex-money-outline:before {
	content: "\e62f";
}
.icon-hex-money-solid:before {
	content: "\e630";
}
.icon-hex-mute-outline:before {
	content: "\e631";
}
.icon-hex-mute-solid:before {
	content: "\e632";
}
.icon-hex-news-outline:before {
	content: "\e633";
}
.icon-hex-news-solid:before {
	content: "\e634";
}
.icon-hex-note-outline:before {
	content: "\e635";
}
.icon-hex-note-solid:before {
	content: "\e636";
}
.icon-hex-paid-outline:before {
	content: "\e637";
}
.icon-hex-paid-solid:before {
	content: "\e638";
}
.icon-hex-phone-outline:before {
	content: "\e639";
}
.icon-hex-phone-solid:before {
	content: "\e63a";
}
.icon-hex-received-outline-:before {
	content: "\e63b";
}
.icon-hex-received-solid-:before {
	content: "\e63c";
}
.icon-hex-reload-outline-:before {
	content: "\e63d";
}
.icon-hex-reload-solid-:before {
	content: "\e63e";
}
.icon-hex-report-outline:before {
	content: "\e63f";
}
.icon-hex-report-solid:before {
	content: "\e640";
}
.icon-hex-reportReceived-outline:before {
	content: "\e641";
}
.icon-hex-reportReceived-solid:before {
	content: "\e642";
}
.icon-hex-sampleReceived-outline:before {
	content: "\e643";
}
.icon-hex-sampleReceived-solid:before {
	content: "\e644";
}
.icon-hex-search-outline:before {
	content: "\e645";
}
.icon-hex-search-solid:before {
	content: "\e646";
}
.icon-hex-settings-outline:before {
	content: "\e647";
}
.icon-hex-settings-solid:before {
	content: "\e648";
}
.icon-hex-skip-outline:before {
	content: "\e649";
}
.icon-hex-skip-solid:before {
	content: "\e64a";
}
.icon-hex-test-outline:before {
	content: "\e64b";
}
.icon-hex-test-solid:before {
	content: "\e64c";
}
.icon-hex-testReceived-outline:before {
	content: "\e64d";
}
.icon-hex-testReceived-solid:before {
	content: "\e64e";
}
.icon-hex-testTube-outline:before {
	content: "\e64f";
}
.icon-hex-testTube-solid:before {
	content: "\e650";
}
.icon-hex-trophy-outline:before {
	content: "\e651";
}
.icon-hex-trophy-solid:before {
	content: "\e652";
}
.icon-hex-truck-outline:before {
	content: "\e653";
}
.icon-hex-truck-solid:before {
	content: "\e654";
}
.icon-hex-truck2-outline:before {
	content: "\e655";
}
.icon-hex-truck2-solid:before {
	content: "\e656";
}
.icon-hex-user-outline:before {
	content: "\e657";
}
.icon-hex-user-solid:before {
	content: "\e658";
}
.icon-hex-volume-outline:before {
	content: "\e659";
}
.icon-hex-volume-solid:before {
	content: "\e65a";
}
.icon-hex-waiting-outline:before {
	content: "\e65b";
}
.icon-hex-waiting-solid:before {
	content: "\e65f";
}
.icon-LifeLetters-logo:before {
	content: "\e661";
}
.icon-home:before {
	content: "\e65c";
}
.icon-stopwatch:before {
	content: "\e65d";
}
.icon-bubbles:before {
	content: "\e65e";
}
.icon-lock:before {
	content: "\e664";
}
.icon-warning:before {
	content: "\e668";
}
.icon-close:before {
	content: "\e669";
}
.icon-checkmark:before {
	content: "\e66a";
}
.icon-googleplus-solid:before {
	content: "\e66b";
}
.icon-facebook:before {
	content: "\e66c";
}
.icon-facebook-solid:before {
	content: "\e66d";
}
.icon-twitter:before {
	content: "\e660";
}
.icon-twitter-solid:before {
	content: "\e66e";
}
.icon-youtube-solid:before {
	content: "\e66f";
}
.icon-github-solid:before {
	content: "\e670";
}
.icon-linkedin-solid:before {
	content: "\e671";
}
