@mixin theme($color, $colorFaint, $colorLight, $colorDark) {
  
  h1, h2, blockquote, label, .icon { 
    color: $color;
  }

  .btn-themed {
    background-color: $colorFaint;
    color: $colorDark;
  }

  .section-themed {
    background-color: $color;
    color: #fff;

    h1, h2, blockquote, label, .icon {
      color: $colorFaint;
    }
    
    &-dark { 
      background-color: $colorDark;
      color: #fff; //$colorFaint;
    }

    &-light { 
      background-color: $colorLight;
      color: #000;

      h1, h2, blockquote, label, .icon {
        color: $colorDark;
      }

      .btn-themed {
        background-color: $colorDark;
        color: $colorFaint;
      }
    }
  }
  
  .btn-themed { 
    background-color: $color;
    color: #fff;

    &:hover {
    	background-color: $colorDark;
    }
  }

  .panel-themed {
    border-color: $colorDark;
    .panel-heading {
      background-color: $colorDark;
    }
  }
}

.theme-purple { 		@include theme($purple, $purpleFaint, $purpleLighter, $purpleDarker); }
.theme-yellow { 		@include theme($yellow, $yellowFaint, $yellowLighter, $yellowDarker); }
.theme-cyan { 			@include theme($cyan, $cyanFaint, $cyanLighter, $cyanDarker); }
.theme-gray { 			@include theme($gray, $grayFaint, $grayLighter, $grayDarker); }
.theme-bluegray { 	@include theme($bluegray, $bluegrayFaint, $bluegrayLighter, $bluegrayDarker); }
.theme-tangerine {	@include theme($tangerine, $tangerineFaint, $tangerineLighter, $tangerineDarker); }
.theme-green { 			@include theme($green, $greenFaint, $greenLighter, $greenDarker); }
.theme-maroon { 		@include theme($maroon, $maroonFaint, $maroonLighter, $maroonDarker); }

.theme-lightText {
  color: #fff;
}
