// 
// BACKGROUNDS
// 
.bg {
	&-gray 					{ background-color: $gray; }
	&-gray-light 		{ background-color: $gray-light; }
	&-gray-lighter 	{ background-color: $gray-lighter; }
	&-gray-dark 		{ background-color: $gray-dark; }
	&-gray-darker 	{ background-color: $gray-darker; }

	&-inset {
		box-shadow: inset 0 0 5px rgba(#000, 0.5);
	}
}


//
// TEXT
// 
.text {
	&-light {
		p, h1, h2, h3, h4, h5, blockquote, li, td, th, caption, span, div, label {
			color: #eee; // specifying each type overrides theme colors
		}
		a { 
			color: #fff;
			font-weight: 600;
			text-decoration: underline;
		}
		.btn-outline {
			border-color: #fff;
			text-decoration: none;
		}
	}
	&-dark {
		p, h1, h2, h3, h4, h5, blockquote, li, td, th, caption, span, div, label {
			color: #444; // specifying each type overrides theme colors
		}
		a {
			color: #000;
			font-weight: 600;
			text-decoration: underline;
		}
	}
	&-subtle {
		opacity: 0.7;
	}
	&-center {
		text-align: center;
	}
	&-xxs { font-size: 30%; }
	&-xs 	{ font-size: 50%; }
	&-sm 	{ font-size: 80%; }
	&-lg 	{ font-size: 120%; }
	&-xl 	{ font-size: 150%; }
	&-xxl { font-size: 200%; }
}