$nav-icon-size-shrunk: 50px;
$nav-icon-size-full: 56px;
$nav-label-size: 13px;


// Desktop
.nav-desktop {
	@include clearfix;
	padding: 10px 10px 0 0;
	text-align: right;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;

	// Hide on mobile
	@media (max-width: $screen-sm-max) { display: none; }
}

.nav-offset {
	height: $nav-icon-size-full+$nav-label-size+5px;
	transtion: height 0.5s;
	// @media (max-width: $screen-sm-max) { display: none; }	
}


.nav-mobile {
	@include clearfix;
	position: absolute;
	width: 100%;
	z-index: 1000;

	.nav_toggle {
		$size: 50px;
		display: block;
		width: $size;
		text-align: center;
		float: right;

		.fa {
			font-size: $size*0.8;
		}
		label {
			display: block;
			font-size: $nav-label-size;
		}
	}

	.nav_menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background: white;
		padding-top: 10px;
		box-shadow: 0 0 20px rgba(#000, 0.3);
		opacity: 0;
		transform: translateY(-100%);
		transition: opacity 1s, transform 1s;

		&.active {
			opacity: 1;
			transform: translateY(0);
		}

		.close {
			padding: 10px 0 ;
			background-color: $gray-lighter;
			display: block;
			color: #000;
			margin-top: 20px;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}
	}
	
	@media (min-width: $screen-md-min) { display: none; }
}


ul.iconList {
	list-style: none;
	padding-left: 10px;
	display: inline-block;

	li {
		position: relative;
		display: inline-block;
		margin-right: 7px;
		width: $nav-icon-size-full - 5px;
	}
}


// An icon that adapts to the width of the container its put in
.navIcon {
	padding: ($nav-icon-size-full + 4px) 0 0 0;
	text-align: center;
	display: block;

	.icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: block;
		opacity: 0;

		transition: opacity 1s, font-size 1s, color 1s;
		font-size: $nav-icon-size-shrunk;
		line-height: $nav-icon-size-full;
		&-off { opacity: 1; }
		&-on  { opacity: 0; }
	}

	label {
		font-size: $nav-label-size;
		font-weight: 600;
		display: block;
		transition: color 1s;
	}

	// Highlight the icon
	&:hover,
	&.active {
		.icon {
			font-size: $nav-icon-size-full;
			&-off { opacity: 0; }
			&-on  { opacity: 1; }
		}
	}
}
