// A page menu, for jumping down the page
.pagenav {
  $height: 44px;

  @include clearfix;
  width: 100%;
  z-index: 9;
  background: #eaeaea;
  height: $height; // required to give it height when using sticky
  overflow-y: visible;

  a {
    display: inline-block;
    height: $height;
    line-height: $height;
    vertical-align: middle;
    padding: 0 25px;
    border-right: 1px solid rgba(0,0,0,0.3);
    float: left;
    color: #000;
    font-size: 14pt;
    background: #eaeaea;
    
    &.active,
    &:hover {
      background: #fff;
    }

    @media (max-width: $screen-md-max) {
      font-size: 12pt;
      padding: 0 15px;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    .glyphicon {
      font-size: 60%;
      opacity: 0.5;
      margin-right: 5px;
      // margin-left: -10px;
    }
  }
  .pn-branded {
    @extend %themeFont;
    font-size: 24pt;
    padding-left: 25px;

    @media (max-width: $screen-md-max) {
      font-size: 18pt;
    }
  }
  // selected tab, as shown on mobile
  .pn-selection {
    display: none;
    text-align: center;
    border-bottom: 1px solid $gray;
    font-size: 16pt;

    .glyphicon {
      font-size: 80%;
    }
    
    &.active {
      display: block;
    }
  }
}
