@mixin theme($color, $colorAlt) {
  
  h1, h2, label, .text-themed { 
    color: $color;
  }

  &.btn-themed,
  .btn-themed {
    background-color: $color;
    color: $colorAlt;
    font-weight: 600;
    transition: background-color 1s, color 1s;

    &:hover {
      background-color: $colorAlt;
      color: $color;
    }
  }

  &.bg-themed,
  .bg-themed {
    background-color: $colorAlt;
  }

  &.panel-themed,
  .panel-themed {
    border-color: $color;

    .panel-heading,
    .panel-decoration {
      background-color: $color;
      color: lighten($colorAlt, 8%);
    }
  }
}

.theme-cyan       { @include theme($cyan, $cyanLighter); }
.theme-purple     { @include theme($purple, $purpleLighter); }
.theme-yellow     { @include theme($yellow, $yellowLighter); }
.theme-gray       { @include theme($gray, $grayLighter); }
.theme-bluegray   { @include theme($bluegray, $bluegrayLighter); }
.theme-tangerine  { @include theme($tangerine, $tangerineLighter); }
.theme-green      { @include theme($green, $greenLighter); }
.theme-maroon     { @include theme($maroon, $maroonLighter); }

.theme-tinyLetters          { @include theme($tinyLetters, $tinyLetters-light); }
.theme-tinyLetters-alt      { @include theme($tinyLetters-light, $tinyLetters); }
.theme-tinyLetters-alt2     { @include theme($tinyLetters-light, $tinyLetters-dark); }

.theme-scriptLetters        { @include theme($bluegrayDarker, $bluegrayLighter); }
.theme-scriptLetters-alt    { @include theme($bluegray, $bluegrayFaint); }
.theme-scriptLetters-alt2   { @include theme($bluegrayLighter, $bluegrayDarker); }
