$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$theme-font-path: "/bower_components/theme/fonts/" !default;

// Primary colors:
$pink: #f173ac;
$pinkLighter: #f7b7d2;
$pinkDarker: #eb3a92;
$pinkFaint: lighten($pink, 40%);

$yellow: #fed206;
$yellowLighter: #ffe594;
$yellowDarker: #f6b818;
$yellowFaint: lighten($yellow, 40%);

$cyan: #58c9e9;
$cyanLighter: #b1e2f3;
$cyanDarker: #00b7de;
$cyanFaint: lighten($cyan, 30%);

$gray: #a7a9ac;
$grayLighter: #d1d3d4;
$grayDarker: #797b7d;
$grayFaint: lighten($gray, 25%);

// Secondary colors:
$purple: #8162a2;
$purpleLighter: #b6a4ca;
$purpleDarker: #573e8c;
$purpleFaint: lighten($purple, 40%);

$bluegray: #39889f;
$bluegrayLighter: #93bccb;
$bluegrayDarker: #005a6f;
$bluegrayFaint: lighten($bluegray, 42%);

$tangerine: #ed6624;
$tangerineLighter: #f7ad82;
$tangerineDarker: #e73725;
$tangerineFaint: lighten($tangerine, 35%);

$green: #7faa42;
$greenLighter: #bbcd96;
$greenDarker: #3d8d47;
$greenFaint: lighten($green, 40%);

$maroon: #a04a73;
$maroonLighter: #cc98af;
$maroonDarker: #730445;
$maroonFaint: lighten($maroon, 40%);


// Bootstrap:

// $gray-base:             #000;
// $gray-darker:           lighten($gray-base, 13.5%); // #222
// $gray-dark:             lighten($gray-base, 20%);   // #333
// $gray:                  lighten($gray-base, 33.5%); // #555
// $gray-light:            lighten($gray-base, 60%);   // #999
// $gray-lighter:          lighten($gray-base, 90%); // #eee

$brand-primary:         	 	$bluegray;
$brand-success:         	 	$green;
$brand-info:            	 	$cyanDarker;
$brand-warning:         		$tangerine;
$brand-danger:          		$tangerineDarker;

// $body-bg:               #fff;
// $text-color:            $gray-dark;
// $link-color:            $brand-primary;
// $link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: 	 none;


// $modal-inner-padding:         20px;

// $modal-title-padding:         15px;
// $modal-title-line-height:     $line-height-base;

// $modal-content-bg:                             #fff;
// $modal-content-border-color:                   rgba(0,0,0,.2);
// $modal-content-fallback-border-color:          #999;

$modal-backdrop-bg:           	 #fff;
// $modal-backdrop-opacity:      .5;
// $modal-header-border-color:   #e5e5e5;
// $modal-footer-border-color:   $modal-header-border-color;

$modal-lg:                    1200px;
// $modal-md:                 600px;
// $modal-sm:                 300px;
