// Needed before the bootswatch import. This gets imported again, but that's fine
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "variables";
@import "bootswatch/cosmo/variables";

@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bootswatch/cosmo/bootswatch";

@import "fonts";
@import "defaults";
@import "bootstrap-tweaks";
@import "mixins";
@import "icons";
@import "nav-site";
@import "footer";
@import "modifiers";
@import "sections";
@import "lazy-load";

@import "font-awesome/scss/font-awesome.scss";