<div class="footer hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="foot_logo">
          <i class="icon-LifeLetters-logo"></i> <span>life</span><span>letters</span>
        </div>
        <div class="foot_companyDetails">
          <div>Life ABC Pty Ltd</div>
          <div>ABN 69 168 930 452</div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h4 class="foot_header">Keep up to date</h4>
        <p>
          Join our mailing list for the latest news and updates
        </p>
        <form name="form" novalidate ng-submit="submit(form)" mailing-list-form>
          <div class="form-group" ng-class="{
              'has-error': form.$submitted && (form.email.$invalid || serverError),
              'has-success': successful}">
            <div class="input-group">
              <input type="email" class="form-control" name="email" placeholder="name@email.com" 
                  ng-model="credentials.email"
                  required>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ladda="processing">Join</button>
              </span>
            </div>
            <p class="help-block" ng-if="form.$submitted && form.email.$error.required">
              Please enter your email address
            </p>
            <p class="help-block" ng-if="form.$submitted && form.email.$error.email">
              Please enter a valid email address
            </p>
            <p class="help-block" ng-if="serverError">
              {{ serverError }}
            </p>
            <p class="help-block" ng-if="successful">
              You've been added to our mailing list
            </p>
          </div>
        </form>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h4 class="foot_header">Follow us</h4>
        <ul class="foot_iconList">
          <li><a href="https://twitter.com/lifelettersAU" target="_blank">
            <i class="icon-twitter-solid foot_socialIcon"></i> Twitter</a>
          </li>
          <li><a href="https://www.facebook.com/LifeLettersAustralia" target="_blank">
            <i class="icon-facebook-solid foot_socialIcon"></i> Facebook</a>
          </li>
          <li><a href="https://www.linkedin.com/company/life-letters" target="_blank">
            <i class="icon-linkedin-solid foot_socialIcon"></i> LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h4 class="foot_header">Support</h4>
        <div class="clearfix">
          <i class="icon-hex-phone-outline foot_supportIcon"></i>
          1300 53 88 37<br>
          <a href="mailto:info@lifeletters.com">info@lifeletters.com</a>
        </div>
        <ul class="foot_helperLinks inline">
          <li><a ng-href="{{ globals.paths.about }}">About</a></li>
          <li><a ng-href="{{ globals.paths.legals }}">Legals</a></li>
          <li><a ng-href="{{ globals.paths.help }}">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
