<nav class="nav-desktop">
  <div class="nav_full" e2e-id="nav_full">
    <a class="nav-brand text-themed" ng-href="{{ home }}">
      <i class="icon-LifeLetters-logo"></i> <span>life</span><span>letters</span>
    </a>

    <ul class="iconList" ng-repeat="itemGrp in navItemGrps">
      <li ng-repeat="item in itemGrp" show-user="{{ item.user }}">
        <a ng-href="{{ item.path }}" class="navIcon" ng-class="{active:isActive(item)}">
          <i class="text-themed icon icon-off icon-hex-{{ item.icon }}-outline"></i>
          <i class="text-themed icon icon-on icon-hex-{{ item.icon }}-solid"></i>
          <label>{{ item.label }}</label>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="nav-mobile" toggleable>
  <a class="nav-brand text-themed" ng-href="{{ home }}">
    <i class="icon-LifeLetters-logo"></i> <span>life</span><span>letters</span>
  </a>
  <div class="nav_toggle" e2e-id="nav_toggle">
    <a href="javascript:void(0);" ng-click="toggle()">
      <i class="fa fa-bars text-themed"></i>
      <label>Menu</label>
    </a>
  </div>
  <div class="nav_menu" ng-class="{active: isOn()}" e2e-id="nav_menu" >
    <div class="container-fluid">
      <span ng-repeat="itemGrp in navItemGrps">
        <hr ng-if="!$first">
        <div class="row">
          <div class="col-xs-3" ng-repeat="item in itemGrp" show-user="{{ item.user }}">
            <a ng-href="{{ item.path }}" class="navIcon" ng-class="{active:isActive(item)}" ng-click="turnOff()">
              <i class="text-themed icon icon-off icon-hex-{{ item.icon }}-outline"></i>
              <i class="text-themed icon icon-on icon-hex-{{ item.icon }}-solid"></i>
              <label>{{ item.label }}</label>
            </a>
          </div>
        </div>
      </span>
    </div>
    <a href="javascript:void(0);" class="close" e2e-id="nav_close" ng-click="toggle()">
      <i class="fa fa-times"></i> Close
    </a>
  </div>
</nav>

<!-- <div class="nav-offset"></div> -->